#bg-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.3s;
  min-height: 100vh;
}

.card {
  background: #ffffff15;
  padding: 25px;
  width: 280px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  text-align: center;
  animation: fade 0.4s;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #3498db;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1f78c3;
}

/* Home Page */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #00000088;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.nav button {
  padding: 8px 14px;
  border-radius: 8px;
}

.content {
  margin-top: 80px;
  text-align: center;
}

@keyframes fade {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
